{% extends 'detail/base.html' %}
{% block csslink %}
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1785802_fb5grfmdcnv.css">
{% endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 1419.6px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>通知管理</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">主页</a></li>
                            <li class="breadcrumb-item active">显示</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">通知管理</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                                title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 15%">
                                通知名称
                            </th>
                            <th style="width: 15%">
                                发起人
                            </th>
                            <th style="width: 15%">
                                发起时间
                            </th>
                            <th style="width: 20%">
                                文章预览
                            </th>
                            <th style="width: 8%" class="text-center">
                                状态
                            </th>
                            <th style="width: 20%">操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for advise in advises %}
                            <tr>
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    {{ advise.advise_title }}
                                </td>
                                <td>
                                    {{ advise.advise_username }}
                                </td>
                                <td>
                                    {{ advise.advise_time }}
                                </td>
                                <td>
                                    {{ advise.advise_text|slice:"10" }}...
                                </td>
                                <td class="project-state">
                                    <span class="badge badge-success">Success</span>
                                </td>

                                <td class="project-actions text-right">
                                    <a class="btn btn-info btn-sm" href="{% url 'detail:advise:cha_advise' %}?pk={{ advise.id }}">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        编辑
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'detail:advise:del_advise' %}?pk={{ advise.id }}">
                                        <i class="fas fa-trash">
                                        </i>
                                        删除
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">增加一条新通知</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                            data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="card-body" style="display: block;">

                                <div class="form-group">
                                    <label for="inputName">标题</label>
                                    <input type="text" id="inputName" class="form-control" name="advise_title">
                                    <label for="inputName">内容</label>
                                    <input type="text" id="inputName" class="form-control" name="advise_text">
                                </div>
                                <div class="form-group" style="color: red">
                                    <label for="">{{ result }}</label>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                </div>
                <div class="col-12">
                    <a href="" class="btn btn-secondary md-opjjpmhoiojifppkkcdabiobhakljdgm_doc">刷新</a>
                    <input type="submit" value="增加" class="btn btn-success float-right">
                </div>
            </form>

        </section>
        <!-- /.content -->
    </div>
{% endblock %}