{% extends 'detail/base.html' %}
{% block csslink %}
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1785802_fb5grfmdcnv.css">
{% endblock %}
{% block content %}
    <div class="content-wrapper" style="min-height: 1419.6px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>事务申办审核</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">主页</a></li>
                            <li class="breadcrumb-item active">审核</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">事务申办审核</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                                title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 10%">
                                事务名称
                            </th>
                            <th style="width: 15%">
                                事务提交人
                            </th>
                            <th style="width: 10%">
                                事务提交时间
                            </th>
                            <th style="width: 9%">
                                事务文本
                            </th>
                            <th style="width: 8%">操作
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in datas %}
                            <tr>
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    {{ data.title }}
                                </td>
                                <td>
                                    {{ data.username }}
                                </td>
                                <td>
                                    {{ data.th_time }}
                                </td>
                                <td>
                                    {{ data.text }}
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-info btn-sm" href="{% url 'detail:things:check' %}?fin=1&pk={{ data.id }}">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        通过
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'detail:things:check' %}?fin=0&pk={{ data.id }}">
                                        <i class="fas fa-trash">
                                        </i>
                                        不通过
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
{% endblock %}