{% extends 'detail/base.html' %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>删除单用户</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="">主页</a></li>
                        <li class="breadcrumb-item active">显示</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title" _msthash="2164786" _msttexthash="4467437">用户</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                    title="Collapse">

                    <i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>用户信息</th>
                            <th>详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>姓名：</td>
                            <td>{{ person.name }}</td>
                        </tr>
                        <tr>   
                            <td>性别：</td>
                            <td>
                                {% if person.sex == '0' %}
                                女
                                {% elif person.sex == '1' %}
                                男
                                {% else %}
                                {% endif %}
                            </td>
                            <tr>
                                <td>电话号：</td>
                                <td>{{ person.telephone }}</td>
                            </tr>    
                            <tr>   <td>身份证号：</td>
                                <td>{{ person.id_card }}</td>
                            </tr>    
                            <tr>
                                <td>状态：</td>
                                <td> {% if person.is_active == False %}
                                    异常
                                    {% elif person.is_active == True %}
                                    正常
                                    {% else %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right py-0 align-middle">
                                    <div class="btn-group btn-group-sm">
                                        <a href="{% url 'detail:superuser:delete_re' %}?pk={{ personid }}"
                                        class="btn btn-sm btn-danger">
                                        <i class="fas icon-shanchu iconfont"></i> 彻底删除
                                    </a>
                                </div>
                                 </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
{% endblock %}