<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>守望相助管理系统注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'common/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/adminlte.min.css' %}">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <b>修改密码</b>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">很抱歉！当前不允许自助找回密码，如有密码问题请联系管理员！</p>
        </div>
    </div>
</div>
</body>
</html>
