<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>守望相助管理系统登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'common/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/adminlte.min.css' %}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href=""><b>守望相助管理系统登录</b></a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">请输入账号登录</p>
            <form action="" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="手机号" name="telephone">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-mobile"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="密码" name="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember" name="remember" value="1">
                            <label for="remember">
                                两周之内免登录
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">登录</button>
                    </div>
                    {% if errors %}
                        {% for error in errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
            <p class="mb-1">
                <a href="{% url 'user:forget' %}">忘记密码</a>
            </p>
            <p class="mb-0">
                <a href="{% url 'user:regist' %}" class="text-center">注册一个新账户</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

</body>
</html>
