<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>退出登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'common/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/icheck-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/adminlte.min.css' %}">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="register-logo">
        <b>退出登录成功！！！</b>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">将在<span id="sp">5</span>秒后返回主页</p>
        </div>
    </div>
</div>
<script>
    onload=function () {
        setInterval(go,1000)
    };
    var x=4;
    function go() {

        if (x>=0){
            document.getElementById("sp").innerText=x;
        }else {
            location.href="{% url 'front:index' %}";
        }
        x--;
    }
</script>
</body>
</html>
